@model StudyIt.Web.ViewModels.TrainerLessonDetailsViewModel

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<fieldset>
    <legend>Урок</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SubcategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubcategoryName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.GroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

</fieldset>
