@model StudyIt.Web.ViewModels.GroupAdminTestDetailsViewModel

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<fieldset>
    <legend>Тест</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.SubcategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubcategoryName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.GroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
        @Html.DisplayFor(model => model.Questions)
    </div>
    <div class="display-field">
        @foreach (var question in Model.Questions)
        {
            <div>
                Въпрос: @question.Name
                <br />
                Отговори:
                <div>
                    @question.Answer1
                    <br />
                    @question.Answer2
                    <br />
                    @question.Answer3
                    <br />
                    @question.Answer4
                    <br />
                </div>
                Верен отговор: @question.Answer
                <br />
            </div>
        }
    </div>

</fieldset>
